<div class="header">
	<ul class="nav nav-pills pull-right">
		<li class="{{ page.cv }}"><a href="https://www.dropbox.com/s/6153ob575j9c173/CV_AbhishekBhati.pdf?dl=0" target="_blank"  title="cv">cv</a></li>
		<li class="{{ page.research }}"><a href="/research" title="research">research</a></li>
		<li class="{{ page.teaching }}"><a href="/teaching" title="teaching">teaching</a></li>
    <li class="{{ page.media }}"><a href="/media" title="media">media</a></li>
		<li class="{{ page.media }}"><a href="/blog" title="blog">blog</a></li>
		<li class="{{ page.contact }}"><a href="/contact" title="Contact">Contact</a></li>
	</ul>
	<h3 class="text-muted"><a href="/">Abhishek Bhati</a></h3>
</div> <!-- /header -->
