<div class="header">
	<ul class="nav nav-pills pull-right">
		<li class="{{ page.cv }}"><a href="https://www.dropbox.com/scl/fi/jnj0x8lg7lmllfj1rt41p/abhati_cv_nov23.pdf?rlkey=2uakcjowrxgyyoilak68vez6n&dl=0" target="_blank"  title="cv">cv</a></li>
		<li class="{{ page.research }}"><a href="/research" title="Research">Research</a></li>
		<li class="{{ page.teaching }}"><a href="/teaching" title="Teaching">Teaching</a></li>
    <li class="{{ page.media }}"><a href="/media" title="Media">media</a></li>
		<li class="{{ page.contact }}"><a href="/contact" title="Contact">Contact</a></li>
	</ul>
	<h3 class="text-muted"><a href="/">Abhishek Bhati</a></h3>
</div> <!-- /header -->
